html {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a, a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  transition: all 0.2s ease;
}

body {
  font-size: 20px;
  font-weight: 300;
  color: #4A4A4A;
  line-height: 1.1;
  margin: 0;
}

p {
  line-height: 1.5;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: Nunito;
  font-weight: 500;
}

h1 {
  font-size: 30px;
  color: #4A4A4A;
}

h2 {
  font-size: 24px;
  color: #4A4A4A;
}

h3 {
  font-size: 36px;
  color: #4A4A4A;
  margin: .5em;
}

h4 {
  font-size: 20px;
  color: #4A4A4A;
}

header {
  position: relative;
}

header div.hero {
  background-image: url(images/front_hero.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  background-color: #5f7782;
  background-position: center center;
  background-size: cover;
  text-align: center;
}

header h1 {
  background-color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px 15px 0 15px;
  margin-bottom: 0;
  display: inline-block;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.centered {
  text-align: center;
}

body > div.container {
  margin-top: 120px;
  margin-bottom: 120px;
}


/* CONTACT */
div.contact a {
  color: #4A4A4A;
  text-decoration: none;
}

div.contact a:hover {
  color: #4078c0;
  text-decoration: none;
}

div.contact i {
  font-size: 96px;
}

div.contact a + a {
  margin-left: 20px;
}

/* twitter social button hack */
.fa-twotter:before{content:"\f099"}


/* SOURCE */
div.source {
  overflow: hidden;
  width:1015px;
  margin: 0 auto 200px;
}

article {
  float:left;
  height: 390px;
  width: 245px;
  border-bottom: 8px solid;
  position: relative;
}

article > h4 {
  bottom:0;
  margin:0;
  width: 100%;
  position: absolute;
  text-align: center;
}

article > h4 > a:hover {
  /*color: black;*/
  color: #4078c0;
}

article.container + article.container {
  margin-left: 140px;
}

article > i {
  text-align: center;
  text-shadow: 0px 1px 2px rgba(86,93,169,0.50);
}

article.authenticate > i,
article.sigpad > i {
  border:8px solid;
  border-radius:60px;
  margin-bottom: 15px;
  margin-top: 12px;
  padding:10px;
  font-size: 48px;
}

article.invitation {
  border-bottom-color: #530FAD;
}

article.invitation > i {
  color: #530FAD;
  font-size: 112px;
}

article.authenticate {
  border-bottom-color: #FF4900;
}

article.authenticate > i {
  border-color: #FF4900;
  transform: rotate(45deg);
  color: #FF4900;
}

article.sigpad {
  border-bottom-color: #00B061;
}

article.sigpad > i {
  border:8px solid #00B061;
  color: #00B061;
}

@media screen and (max-width: 1100px) {
  div.source {
     width: inherit;
  }
  article {
    float: none;
  }
  article.container + article.container {
    margin-top: 150px;
    margin-left: inherit;
  }
}
