html {
  box-sizing: border-box;
  font-family: Lora;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a, a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;

  transition: all 0.2s ease;
}

body {
  font-size: 20px;
  font-weight: 400;
  color: #4A4A4A;
  line-height: 1.1;
}

p {
  line-height: 1.5;
}

h1, h2, h3, h4 {
  font-family: Nunito;
  font-weight: 500;
}

h1 {
  font-size: 30px;
  color: #4A4A4A;
}

h2 {
  font-size: 24px;
  color: #4A4A4A;
}

h3 {
  font-size: 36px;
  color: #4A4A4A;
}

h4 {
  font-size: 20px;
  color: #4A4A4A;
}

header {
  position: relative;
}

header div.hero {
    background-image: url(front_hero.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    background-color: #5f7782;
    background-position: center center;
    background-size: cover;
    text-align: center;
}

header h1 {
  background-color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px 15px 0 15px;
  margin-bottom: 0;
  display: inline-block;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.centered {
  text-align: center;
}

body > div.container {
  margin-top: 120px;
}


/* CONTACT */
div.contact a {
  color: #4A4A4A;
  text-decoration: none;
  /*transition: all 0.2s ease;*/
}

div.contact a:hover {
  color: #4078c0;
  text-decoration: none;
}

div.contact .fa-stack {
  width: 5em;
  height: 5em;
  line-height: 5em;
}

div.contact i.fa-stack-2x {
  font-size: 5em;
}

div.contact i.fa-stack-1x {
  font-size: 2.5em;
}

div.contact .fa-circle-thin {
}

/* SOURCE */
div.source {
  overflow: hidden;
  width:1015px;
  margin: 0 auto 200px;
}

article {
  float:left;
  height: 390px;
  width: 245px;

  border-bottom: 8px solid;
  position: relative;
}

article > h4 {
  bottom:0;
  left:36px;
  margin:0;
  position: absolute;
  text-align: center;
}

article > h4 > a:hover {
  color: black;
}

article.container + article.container {
  margin-left: 140px;
}

article > i {
  text-align: center;
  text-shadow: 0px 1px 2px rgba(86,93,169,0.50);
}

article.invitation {
  border-bottom-color: #530FAD;
}

article.invitation > i {
  color: #530FAD;
  font-size: 112px;
}

article.authenticate {
  border-bottom-color: #FF4900;
}

article.authenticate > i {
  border:8px solid #FF4900;
  border-radius:60px;
  margin-bottom: 15px;
  margin-top: 12px;
  padding:10px;

  transform: rotate(45deg);
  font-size: 48px;
  color: #FF4900;
}

article.sigpad {
  border-bottom-color: #00B061;
}

article.sigpad > i {
  border:8px solid #00B061;
  border-radius:60px;
  margin-bottom: 15px;
  margin-top: 12px;
  padding:10px;

  font-size: 48px;
  color: #00B061;
}
