<div class="sidebar bl b--silver fl w-30-l f5 pa4 mt4">
  <h2 class="mt4 tracked-tight primary mb0">
    <a href="/about" class="bn secondary-hover">Justin Tomich</a>
  </h2>

  <div class="f6 lh-copy mt4">
    <p class="ma0">Web Developer</p>
    <p class="ma0">CTO @ <a class="warm secondary-hover" href="https://www.engage-cpa.com">engage-cpa.com</a></p>
  </div>

  
  <p class="mt4 mb4">
    <a class="warm secondary-hover" href="{{ "/feed.xml" | relative_url }}">
      <i class="fa fa-rss mr1"></i> 
      RSS Feed
    </a>
  </p>
  
</div>
